# Ignore node_modules in the backend
backend/node_modules
backend/.expo

# Ignore node_modules in the frontend
frontend/node_modules

# Ignore the Dockerfile itself
Dockerfile

# Ignore the .dockerignore file
.dockerignore

# Other common ignores
.git
.gitignore
node_modules
npm-debug.log
yarn-error.log
.github